# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage
/cypress
/cypress.json

#dev
.eslintrc.json
.eslintcache
.prettierrc.json
/.husky

# production
/build

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs
**/*.backup.*
**/*.back.*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production
